.coolStyle {
	color:red;
	background-color:yellow;
}

.shoppingBox {
	display: flex;
	justify-content: center;
	color: white;
	width:500px;
	height:auto;
	padding: 10px;
	border-radius: 5px;
	margin:auto;
	background:linear-gradient(to right , black, red, blue);
}